#settings-tree {
    min-height: 200px;
}

#inspector-panel {
    padding: 10px;
}

.unity-object-field__label {
    min-width: 60px;
}

.setting-item-folder {
    -unity-font-style: bold;
    font-size: 15px;
}

.setting-item-file {
}

.tree-node {
    border-bottom: 2px solid #444;
    color: white;
}
.tree-node > .icon {
    width: 10%;
    -unity-background-scale-mode: scale-and-crop;
}

.drag-hover {
    background-color: #ecdada;
    border: 1px dashed #8cda3c;
}
