#settings-tree {
    min-height: 200px;
}

#inspector-panel {
    padding: 10px;
}

.unity-object-field__label {
    min-width: 60px;
}

.setting-item-folder-icon {
    background-image: none;
    background-color: rgba(216, 225, 33, 0.84);
    -unity-background-scale-mode: scale-and-crop;
    width: 10%;
}

.setting-item-file-icon {
    width: 10%;
    background-color: rgba(0, 0, 0, 0.76);
}

.setting-item-folder {
    -unity-font-style: bold;
    font-size: 15px;
}

.setting-item-file {
}
