#settings-tree {
    min-height: 200px;
}

#inspector-panel {
    padding: 10px;
}

.unity-object-field__label {
    min-width: 60px;
}

.setting-item-folder {
    -unity-font-style: bold;
}

.tree-node {
    border-bottom: 2px solid rgb(68, 68, 68);
    color: white;
}

.tree-node > .icon {
    width: 10%;
    -unity-background-scale-mode: scale-and-crop;
}

.drag-hover {
    background-color: rgb(236, 218, 218);
    border: 1px dashed rgb(140, 218, 60);
}

.setting-item-file {
}
